/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Quicksand', sans-serif;  }

#page-title {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
}

.dark-bg {
    background: #303030 !important;
    color: white;
}
.lighter-bg {
    background: #c9c9c9 !important;
}
.pb-50 {
    padding-bottom: 50px;
}